div.menu-magic-image img {
    border: 4px solid #00F;
}

#form-fuel-economy .form-type-select {
    float: left;
}

#form-fuel-economy #edit-submit {
    margin: 30px 0 0 10px;
}

#block-system-main > div > div > ol > li {
    margin-left: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid green;
    
}